
// texts

.c-p {
  cursor: pointer;
}

.strike-trough {
  text-decoration: line-through;
}

.user-select-none {
  user-select: none;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.fsz-small {
  font-size: 80%
}